.parent {
    background-color: #b6aecc;
    overflow: hidden;
    min-height: 12rem;
    width: auto;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 5vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.parent:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 8px rgb(99, 99, 99);
    transition: 300ms;
}

.cover_img{
    display: block;
    width: 100%;
    height: 20rem;
}

.cover_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.metadata{
    padding: 1rem;
    box-sizing: border-box;
}

.metadata > h2 {
    font-size: 2rem;
    color: #000000;
    margin: 0 0 10px 0;
}

.metadata > p {
    font-size: 1rem;
    color: #000000;
    margin: 0 0 10px 0;
}

.metadata > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}