.parent {
    margin: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.footer button {
    margin: 0 2rem;
    padding: 8px;
    color: #e8e6e3;
    border: 1px solid #e8e6e3;
}

.footer button:hover {
    background: #e8e6e3;
    color: #121212;
    border: 1px solid #121212;
}

.prev_page {
    border-radius: 20px 0 0 20px;
}

.prev_page_disabled {
    border-radius: 20px 0 0 20px;
    cursor: not-allowed;
}

.next_page {
    border-radius: 0 20px 20px 0;
}

.next_page_disabled {
    border-radius: 0 20px 20px 0;
    cursor: not-allowed;
}