.parent {
    background-color: #b6aecc;
    min-height: 18rem;
    max-height: auto;
    width: 25vw;
    border-radius: 25px;
    padding: 5px 15px;
    box-sizing: border-box;
    margin: 5vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 500ms;
}

.parent:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 8px rgb(99, 99, 99);
    transition: 300ms;
}

.parent>h2 {
    font-size: 2rem;
    color: #000000;
}

.parent>p {
    font-size: 1rem;
    color: #000000;
}

.parent>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}