.parent{
    height: 70vh;
    width: 100%;
    box-sizing: border-box;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parent span{
    font-style: italic;
    font-weight: bolder;
    text-decoration:underline;
}

.btn{
    margin-top: 2rem;
}