.parent {
    height: auto;
    width: 100%;
    padding: 5rem 15rem;
    box-sizing: border-box;
}

.parent a {
    margin-top: 15rem;
}

.tech_stack {
    margin-top: 5rem;
}

.parent ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.parent li {   
    padding-right: 2rem;
}

.link {
    margin-top: 5rem;
}

.tech_stack img{
    width: 10rem;
    border-radius: 10px;
}

.other_links a {
    color: #e8e6e3;
    text-decoration: underline;
}