.parent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.parent > section:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 20%;
    padding-left: 1rem;
    box-sizing: border-box;
}

.parent > section:nth-child(2){
    width: 80%;
    display: flex;
    justify-content: right;
    padding-right: 3rem;
    font-style: italic;
}

.parent > section:nth-child(1) > h1{
    font-size: 1.8rem;
    margin: 0;
}

.rpi{
    background-image: linear-gradient(to right, #fd2361, #acf190);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.motivation p{
    color: #e8e6e3 ;
}